.header__content {
	width: 1600px;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	flex-direction: column;
	position: relative;
}

.header_second {
	position: relative;
	background-image: url('../../../assets/img/bg_faction_flipped.jpg');
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.header_resize {
}

.header__guild-h1 {
	color: #e9ecef;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.header {
	position: relative;
	max-width: calc(100%);
}

.header video {
	object-fit: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.header__guild-info > h1 {
	color: #e9ecef;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.header__guild-info > p {
	font-weight: 500;
	font-size: 1rem;
	color: beige;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
	line-height: 24px;
	max-width: 800px;
}

.header__guild-info {
	display: flex;
	flex-direction: column;
}

.space__huge {
	height: 100px;
}

.space__large {
	height: 60px;
}

.space__small {
	height: 20px;
}

/* GUILD NEWS */
.header__guild_news {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 60px;
	/* flex-wrap: wrap;
  flex-direction: row; */
	/* gap: 10px; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.testNews {
	height: 210px;
	display: flex;
	position: relative;
}

.testNews img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
	flex: 1;
}

.testNews2 {
	height: 210px;
	display: flex;
	position: relative;
}

.testNews2 img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
}

.testNews3 {
	height: 210px;
	display: flex;
	position: relative;
}

.testNews3 img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
}

.testNews4 {
	height: 210px;
	display: flex;
	position: relative;
}

.testNews4 img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	position: absolute;
}

.progressCard > span {
	font-weight: 600;
	position: absolute;
	top: -20px;
	color: #e9ecef;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.newsTitle {
	color: #fcfaf6;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.q213 {
	align-self: flex-end;
	padding: 0 10px;
	width: 100%;
	padding-top: 5px;
	background-color: rgba(3, 2, 2, 0.6);
	z-index: 1;
}

.dateHeaderNews {
	font-weight: 600;
	font-size: 16px;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
	color: #fff;
}
