.topmplus__classicon {
	width: 26px;
	height: 26px;
}

.mplus__top {
	position: relative;
	max-width: calc(100%);
	background-image: url('../../../assets/img/4PK7L1YLXWI11694133146808.png');
	background-position: 30% 50%;
}

.page__content {
	max-width: 1280px;
	width: 100%;
	height: 100%;
	margin-inline: auto;
}

.topmplus__main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	max-width: 1280px;
	margin: 0 auto;
	/* display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
  grid-gap: 1rem; */
}

.topmplus__main-ul {
	display: flex;
	position: relative;
	gap: 5px;

	/* grid-column-start: 8;
  grid-row-start: 3; */
}

.topmplus__main-ul > h2 {
	flex-direction: row-reverse;
}

.topmplus__main_flex {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	flex-wrap: wrap;
}

.topmplus__row {
	display: flex;
	/* width: 250px; */
	padding: 3px;
	background-color: #0e111167;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-weight: 700;
	gap: 0.2rem;
	/* border: 1px solid #535756; */
}

.icons__topmplus-main {
	display: flex;
	gap: 1px;
}

.topmplus__nickname {
	flex: 1;
	display: flex;
	text-align: center;
}

.class_evoker {
	background-image: url('../../../assets/img/specs_sprite-f45eb039ab6ac1479939d030fa56cce2.png');
	height: 64px;
	width: 64px;
	background-position: -192px -64px;
}

.spec_evoker_devastation {
	background-image: url('../../../assets/img/classes_sprite-10eae88147999f6eb57defa5b2fb4a3b.png');
	height: 64px;
	width: 64px;
	background-position: -64px -64px;
}

.icon-topmplus-resize {
	position: relative;
	transform: scale(0.44375);
}

.ewrwer {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	flex: 1;
}

.topmplus__main-rio {
	color: rgb(237, 100, 109);
}

/*  */
